Henry Tamekloe

In [29]:
import io
import sqlite3
import pandas as pd

**DOWNLOADING THE DATABASE**

In [30]:
!wget --quiet -P /tmp/ https://raw.githubusercontent.com/henrany/BCC/master/Database%20System/tp1/despesas.sql

**CONNECTING TO THE SQLITE3 SERVER**

In [31]:
conn = sqlite3.connect('/tmp/despesas.db')
cursor = conn.cursor()

In [32]:
f = io.open('/tmp/despesas.sql', 'r', encoding='utf-8')
sql = f.read()
try:
    cursor.executescript(sql)
except:
  pass

**THE RELATIONAL SCHEMA OF THE DATA**

![image.png]()

**SECTION 4.1 QUESTIONS**

**CONSULTATIONS**

**6. Liste todos os nomes de funcoes e subfuncoes das despesas publicas do terceiro trimestre
de 2018 e seus respectivos valores totais, apenas para o programa MAIS MEDICOS.**

In [33]:
query = """
SELECT F.NOME_FUNCAO, S.NOME_SUBFUNCAO, SUM(P.VALOR_DESPESA) AS VALOR
FROM FUNCAO AS F NATURAL JOIN DETALHAMENTO_FUNCAO AS D
NATURAL JOIN SUBFUNCAO AS S NATURAL JOIN DESPESA_PUBLICA AS P
WHERE P.MES_DESPESA > 6 AND P.MES_DESPESA  < 10 AND P.ANO_DESPESA = 2018
  AND P.COD_PROGRAMA_GOVERNO IN(
    SELECT G.COD_PROGRAMA_GOVERNO
    FROM PROGRAMA_GOVERNO AS G
    WHERE G.NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS'
)
GROUP BY F.COD_FUNCAO, S.COD_SUBFUNCAO
"""

In [34]:
df = pd.read_sql_query(query,conn)
df

       NOME_FUNCAO                         NOME_SUBFUNCAO  VALOR
0  Defesa nacional                    Administrao geral      0
1            Sade                         Ateno bsica  11000
2         Educao  Assistncia hospitalar e ambulatorial      0
3         Educao                        Ensino superior   2400

**1.Liste todos os codigos e nomes de subfuncoes da funcao que possui o maior numero de
subfuncoes.**

In [35]:
query = """
SELECT S.COD_SUBFUNCAO, S.NOME_SUBFUNCAO
FROM DETALHAMENTO_FUNCAO AS D NATURAL JOIN SUBFUNCAO AS S
NATURAL JOIN (
  SELECT F.COD_FUNCAO
  FROM DETALHAMENTO_FUNCAO AS D NATURAL JOIN FUNCAO AS F
  GROUP BY F.COD_FUNCAO
  ORDER BY COUNT(*) DESC
  LIMIT 1
)
"""

In [36]:
df = pd.read_sql_query(query,conn)
df

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatizao e fiscalizao
1            126     Tecnologia da informao
2            131           Comunicao social
3            244      Assistncia comunitria
4            306       Alimentao e nutrio
5            365            Educao infantil
6            511      Saneamento bsico rural

**2.Liste o valor total de despesas publicas por funcao (nome) e subfuncao (nome), apenas
nos casos em que esse valor total excedeu 200 mil reais.**

In [37]:
query = """
SELECT F.NOME_FUNCAO, S.NOME_SUBFUNCAO, SUM(P.VALOR_DESPESA) AS VALOR
FROM DETALHAMENTO_FUNCAO AS D 
NATURAL JOIN DESPESA_PUBLICA AS P
NATURAL JOIN FUNCAO AS F 
NATURAL JOIN SUBFUNCAO AS S
GROUP BY F.COD_FUNCAO, S.COD_SUBFUNCAO
HAVING VALOR > 200000
"""

In [38]:
df = pd.read_sql_query(query,conn)
df

          NOME_FUNCAO           NOME_SUBFUNCAO      VALOR
0  Assistncia social  Assistncia comunitria  227883.77
1            Educao          Educao bsica  334262.06

**3. Liste todos os nomes dos orgaos e o valor das despesas totais no ano de 2018 para os
mesmos, ordenando de forma decrescente pelo valor.**

In [39]:
query = """
SELECT O.NOME_ORGAO, SUM(P.VALOR_DESPESA) VALOR
FROM DESPESA_PUBLICA AS P NATURAL JOIN ORGAO AS O
WHERE P.ANO_DESPESA = 2018
GROUP BY O.COD_ORGAO
ORDER BY VALOR DESC
"""

In [40]:
df = pd.read_sql_query(query,conn)
df

                                       NOME_ORGAO      VALOR
0                            Ministrio da Defesa  353376.70
1            Ministrio do Desenvolvimento Social  278586.35
2   Ministrio da Agricultura, Pecuria e Abastec   90836.51
3                          Ministrio da Educao   64007.82
4                             Ministrio da Sade   50971.19
5                        Presidncia da Repblica       0.00
6   Ministrio da Cincia, Tecnologia, Inovaes        0.00
7                           Ministrio da Fazenda       0.00
8       Ministrio da Justia e Segurana Pblica       0.00
9              Ministrio das Relaes Exteriores       0.00
10  Ministrio dos Transportes, Portos e Aviao        0.00
11                    Ministrio do Meio Ambiente       0.00
12              Ministrio da Integrao Nacional       0.00
13                Ministrio dos Direitos Humanos       0.00

**5. Liste o codigo e nome dos programas de governo que possuiram os 3 maiores valores
de despesas totais na funcao de educacao durante o ano de 2018.**

In [41]:
query = """
SELECT G.COD_PROGRAMA_GOVERNO, G.NOME_PROGRAMA_GOVERNO
FROM PROGRAMA_GOVERNO AS G NATURAL JOIN DESPESA_PUBLICA AS P
NATURAL JOIN DETALHAMENTO_FUNCAO AS D 
NATURAL JOIN (
  SELECT F.COD_FUNCAO
  FROM FUNCAO AS F
  WHERE F.NOME_FUNCAO = 'Educao'
)
WHERE P.ANO_DESPESA = 2018
GROUP BY P.COD_PROGRAMA_GOVERNO
ORDER BY SUM(P.VALOR_DESPESA) DESC
LIMIT 3
"""

In [42]:
df = pd.read_sql_query(query,conn)
df

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

**7. Liste os orgaos governamentais e a quantidade de programas de governo distintos envolvidos
nas despesas publicas desses orgaos. Nesta consulta, desconsidere valores de
despesa negativos ou iguais a zero no periodo.**

In [43]:
query = """
SELECT O.NOME_ORGAO, O.COD_ORGAO, COUNT(*) AS QUANTITY
FROM DESPESA_PUBLICA AS P NATURAL JOIN ORGAO AS O
NATURAL JOIN PROGRAMA_GOVERNO
WHERE P.VALOR_DESPESA > 0
GROUP BY O.COD_ORGAO
"""

In [44]:
df = pd.read_sql_query(query,conn)
df

                                      NOME_ORGAO  COD_ORGAO  QUANTITY
0  Ministrio da Agricultura, Pecuria e Abastec      22000         4
1                         Ministrio da Educao      26000        10
2                            Ministrio da Sade      36000         3
3                           Ministrio da Defesa      52000         2
4           Ministrio do Desenvolvimento Social      55000         2

**SECTION 4.2**

**TRANSLATION OF RELATIONAL ALGEBRA COMMANDS**

**12.(project)NOME FUNCAO, NOME SUBFUNCAO(FUNCAO (join) DETALHAMENTO FUNCAO ./ SUBFUNCAO)**

In [45]:
query = """
SELECT F.NOME_FUNCAO, S.NOME_SUBFUNCAO
FROM FUNCAO AS F NATURAL JOIN DETALHAMENTO_FUNCAO AS D
NATURAL JOIN SUBFUNCAO AS S
"""

In [46]:
df = pd.read_sql_query(query,conn)
df

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial  justia                                Comunicao social
1         Defesa nacional                               Administrao geral
2         Defesa nacional                                  Defesa terrestre
3       Segurana pblica                               Administrao geral
4       Segurana pblica                                      Policiamento
5       Segurana pblica                                      Defesa civil
6       Segurana pblica                         Informao e inteligncia
7      Assistncia social                       Normatizao e fiscalizao
8      Assistncia social                          Tecnologia da informao
9      Assistncia social                                Comunicao social
10     Assistncia social                           Assistncia comunitria
11     Assistncia social                            Alimentao e nutrio
12     Assistncia social                                 Educao infantil
13     Assistncia social                           Saneamento bsico rural
14                  Sade                      Formao de recursos humanos
15                  Sade                                    Ateno bsica
16                  Sade             Assistncia hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educao             Assistncia hospitalar e ambulatorial
19               Educao                               Ensino profissional
20               Educao                                   Ensino superior
21               Educao                                   Educao bsica
22               Educao             Transferncias para a educao bsica
23  Direitos da cidadania            Assistncia ao portador de deficincia
24  Direitos da cidadania                    Custdia e reintegrao social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistncia comunitria
27       Gesto ambiental               Preservao e conservao ambiental
28       Gesto ambiental                                 Recursos hdricos
29   Cincia e Tecnologia                        Desenvolvimento cientfico
30   Cincia e Tecnologia          Desenvolvimento tecnolgico e engenharia
31            Agricultura  Difuso do conhecimento cientfico e tecnolgico
32            Agricultura                 Promoo da produo agropecuria
33    Organizao agrria                       Normatizao e fiscalizao
34    Organizao agrria                           Ordenamento territorial
35    Organizao agrria                                    Extenso rural
36    Organizao agrria                                   Reforma agrria
37              Indstria                                Promoo comercial
38             Transporte                               Administrao geral
39     Encargos especiais                         Outros encargos especiais

**13.(project)MODALIDADE DESPESA, VALOR DESPESA, NOME PROGRAMA GOVERNO(PROGRAMA GOVERNO
(join) (select)MODALIDADE DESPESA=`Reserva de Conting^encia'(DESPESA PUBLICA))**

In [47]:
query = """
SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, O.NOME_PROGRAMA_GOVERNO
FROM PROGRAMA_GOVERNO AS O NATURAL JOIN DESPESA_PUBLICA AS P 
WHERE P.MODALIDADE_DESPESA = 'Reserva de Contingncia'
"""

In [48]:
df = pd.read_sql_query(query,conn)
df

         MODALIDADE_DESPESA  ...                              NOME_PROGRAMA_GOVERNO
0   Reserva de Contingncia  ...                                 BRASIL SEM MISERIA
1   Reserva de Contingncia  ...                              VIOLENCIA NO TRANSITO
2   Reserva de Contingncia  ...                           TERRITORIOS DA CIDADANIA
3   Reserva de Contingncia  ...                                 BRASIL SEM MISERIA
4   Reserva de Contingncia  ...                                 BRASIL SEM MISERIA
5   Reserva de Contingncia  ...                                 BRASIL SEM MISERIA
6   Reserva de Contingncia  ...                            REGULARIZACAO FUNDIARIA
7   Reserva de Contingncia  ...                            REGULARIZACAO FUNDIARIA
8   Reserva de Contingncia  ...                               SEGURO RURAL PRIVADO
9   Reserva de Contingncia  ...                                   VIVER SEM LIMITE
10  Reserva de Contingncia  ...                             CIENCIA SEM FRONTEIRAS
11  Reserva de Contingncia  ...                               GESTAO AEROPORTUARIA
12  Reserva de Contingncia  ...                                 DESASTRES NATURAIS
13  Reserva de Contingncia  ...                                SATELITE (TELEBRAS)
14  Reserva de Contingncia  ...                                     MELHOR EM CASA
15  Reserva de Contingncia  ...                                       REDE CEGONHA
16  Reserva de Contingncia  ...                                       REDE CEGONHA
17  Reserva de Contingncia  ...                                 CONTROLE DO CANCER
18  Reserva de Contingncia  ...                                               ENEM
19  Reserva de Contingncia  ...                                               ENEM
20  Reserva de Contingncia  ...                                       PROVA BRASIL
21  Reserva de Contingncia  ...                                           PRONATEC
22  Reserva de Contingncia  ...                                           PRONATEC
23  Reserva de Contingncia  ...                                           PRONATEC
24  Reserva de Contingncia  ...                                           PRONATEC
25  Reserva de Contingncia  ...                                           PRONATEC
26  Reserva de Contingncia  ...                                           PRONATEC
27  Reserva de Contingncia  ...                                   CADEIAS PUBLICAS
28  Reserva de Contingncia  ...                           CRACK, E POSSIVEL VENCER
29  Reserva de Contingncia  ...                                       MAIS MEDICOS
30  Reserva de Contingncia  ...                                       MAIS MEDICOS
31  Reserva de Contingncia  ...                             CRIMINALIDADE VIOLENTA
32  Reserva de Contingncia  ...                                         OLIMPIADAS
33  Reserva de Contingncia  ...                                             SINESP
34  Reserva de Contingncia  ...                                            ENAFRON
35  Reserva de Contingncia  ...  UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...
36  Reserva de Contingncia  ...                                 CONTROLE DO CANCER
37  Reserva de Contingncia  ...                                       MAIS MEDICOS
38  Reserva de Contingncia  ...                                       MAIS MEDICOS
39  Reserva de Contingncia  ...                                               ENEM
40  Reserva de Contingncia  ...                                 BRASIL SEM MISERIA
41  Reserva de Contingncia  ...                                 BRASIL SEM MISERIA

[42 rows x 3 columns]

**14. (project)VALOR DESPESA, NOME ORGAO(DESPESA PUBLICA
(join) (select)NOME ORGAO=`Ministerio da Fazenda'(ORGAO))**

In [49]:
query = """
SELECT DISTINCT P.VALOR_DESPESA, O.NOME_ORGAO
FROM DESPESA_PUBLICA AS P NATURAL JOIN ORGAO AS O
WHERE O.NOME_ORGAO = 'Ministrio da Fazenda'
"""

In [50]:
df = pd.read_sql_query(query,conn)
df

   VALOR_DESPESA             NOME_ORGAO
0              0  Ministrio da Fazenda

**15. (project)NOME PROGRAMA GOVERNO, VALOR DESPESA(DESPESA PUBLICA
(join) (select)NOME ORGAO='Ministerio da Saude'(ORGAO) (join) PROGRAMA GOVERNO)**

In [51]:
query = """
SELECT DISTINCT G.NOME_PROGRAMA_GOVERNO, P.VALOR_DESPESA
FROM DESPESA_PUBLICA AS P NATURAL JOIN(
  SELECT O.COD_ORGAO
  FROM ORGAO AS O
  WHERE O.NOME_ORGAO = 'Ministrio da Sade' 
) NATURAL JOIN PROGRAMA_GOVERNO AS G
"""

In [52]:
df = pd.read_sql_query(query,conn)
df

                                NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0                                    VIVER SEM LIMITE           0.00
1                                      SOS EMERGENCIA           0.00
2                                      MELHOR EM CASA           0.00
3                                                 UBS           0.00
4   UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...           0.00
5                                        REDE CEGONHA           0.00
6                                  CONTROLE DO CANCER           0.00
7                                  CONTROLE DO CANCER       38971.19
8                            CRACK, E POSSIVEL VENCER           0.00
9                                  BRASIL SEM MISERIA           0.00
10  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...           0.00
11                                       MAIS MEDICOS           0.00
12                                       MAIS MEDICOS       11000.00
13                                       MAIS MEDICOS        1000.00

In [25]:
conn.close()